<div class="purple-container row">
	<div class="logo-tagline-container col-xs-12 col-sm-4">
		<h5>{{date}}</h5>
		<div class="logo-container">
			<h1>BAD</h1>
			<h1>CITY</h1>
		</div>
		
		<h4>World's Worst Travel Guide</h4>
		<h5 id="cityName">New Orleans</h5>
	</div>		
	<div class="gif-container col-xs-12 col-sm-4">
		<img src="https://gifyu.com/images/big-freedia-208-venice-parade-oh-yass-gif.md.gif"/>
	</div>	
</div>	
<div class="logo-tagline-container col-xs-12 col-sm-4">
	<h6 id="cityMission"><span class="underLine">City Mission:</span> Explore New Orleans as we do. <span class="underLine">Drink</span> much, <span class="underLine">eat</span> well, and <span class="underLine">fuck</span> around</h6>
</div>
<div class="challenges row">	
	<div class="DARES">
		<div class="dare-container" ng-repeat="dare in dares">
			<div class="row individual-dare">

				<h6>{{$index + 1}}.             <span class="underLine">Location:</span> {{dare.place}}</h6>
				<h6 class="sub"><span class="underLine">Challenge:</span> {{dare.description}}</h6>
				<h6 class="sub"><span class="underLine">Points:</span> {{dare.points}}</h6>	
			</div>
		</div>	
	</div>
</div>		
<ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
        <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">
        </ui-gmap-marker>
<!--         <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>    -->     
</ui-gmap-google-map>
<div class="customFooter">
	<p>2016 Bad Spring Creative</p>
</div>	
 