.logo-tagline-container{
	margin-left: 50px;
}
.gif-container{
	top: 190px;
}
.purple-container{
	padding-top: 150px;
	background-color: #7A7AA5;
	display: block;
	color: black;
}
body {  
	font-family: 'Abel';
}
 #map { 
 	height: 600px;
 	width: 100%; 
 }
 h1{
 	margin-top: 0px;
 	margin-bottom: 0px;
 	font-weight: 900;
 	font-size: 70px;
 }
 h5{
 	font-weight: 900;
 	background-color: #ffff80;
 	width: inherit;
 	padding-top: 4px;
 	padding-bottom: 4px;
 	padding-left: 4px;
 	font-size: 18px;
 }
 h4{
 	font-size: 30px;
 }
 .side-bar{
 	margin-left: 30px;
 }
 #cityName{
 	font-size: 24px;
 	font-family: 'Source Code Pro';
 	width: 200px;
 	margin-top: 30px;
 	margin-bottom: 30px;
 }
 #cityMission{
 	font-family: 'Source Code Pro';
 	color: black;
 	font-size: 15px;
 	line-height: 24px;
 	margin-bottom: 25px;
 	margin-left: -17px;
 }
 .logo-container{
 	margin-top: 25px;
 	margin-bottom: 25px;
 }
 .underLine{
 	text-decoration: underline !important;
 }
 h6{
  	font-family: 'Source Code Pro';
 	font-size: 14px;	
 }
 .DARES{
 	width: 930px;
 	margin: auto;
 }
 .DARES h6{
 	font-size: 22px;
 }
 .DARES h1{
 	font-family: 'Source Code Pro';
 }
 .individual-dare{
 	border-style: solid;
 	border-width: 1px;
 	padding: 80px 80px;
 }
 .individual-dare{
 	margin-bottom: 25px;
 }
 .sub{
 	padding-left: 25px;
 }
 /* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.side-bar{
		margin-left: 0px;
	}
	.DARES{
		margin-left: 15px;
		margin-top: 25px;
	}
}
.angular-google-map-container { 
	height: 300px; 
}
.customFooter{
	height: 100px;
	background-color: gray;
	color: white;
	font-family: 'Source Code Pro';
}
.customFooter p{
	padding-top: 25px;
	margin-left: 100px;
}
.challenges{
	padding-top: 250px;
}
.challenges h1{
	margin-bottom: 15px;
	text-align: center;
	font-size: 38px;
	color: black;
}