* { z-index: 0 }
a{
	text-decoration: inherit;
	color:inherit;
	cursor: pointer;
}
a:hover{
	text-decoration: inherit;
	color:inherit;
}
.subNavMobile{
	position: fixed;
	top: 68px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	width: 100%;
	height: 100%;
	float: right;
	text-align: right;
	padding-right: 10px;
}
.subNavMobile h6{
	font-size: 24px;
}
.logo-tagline-container{
	width: 500px;
	margin: auto;
	text-align: center;
}
.logo-tagline-container h4{
	font-size: 40px;
	color: white;
}
.gif-container{
	top: 190px;
}
.otherNav{
	position: relative;
	top: 10px;
}
.purple-container{
	padding-top: 150px;
	/*background-color: #7A7AA5;*/
	display: block;
	color: black;
	background:url('../assets/hero_image_stiched.png')no-repeat center center;
}
body {  
	font-family: 'Abel';
}
 #map { 
 	height: 700px;
 	width: 100%; 
 }
 h1{
 	margin-top: 0px;
 	margin-bottom: 0px;
 	font-weight: 900;
 	font-size: 105px;
 	color: white;
 }
 h5{
 	font-weight: 900;
 	background-color: #ffff80;
 	width: 202px;
 	padding-top: 4px;
 	padding-bottom: 4px;
 	padding-left: 4px;
 	font-size: 18px;
 	margin: auto;
 }
 h4{
 	font-size: 30px;
 }
 .side-bar{
 	margin-left: 30px;
 }
 #cityName{
 	font-size: 24px;
 	font-family: 'Source Code Pro';
 	margin-top: 30px;
 	margin-bottom: 30px;
 }
 #cityMission{
 	font-family: 'Source Code Pro';
 	color: white;
 	font-size: 20px;
 	line-height: 24px;
 	margin-bottom: 25px;
 	margin-left: -30px;
 	margin-right: -30px;
 	text-align: left;
 }
 .logo-container{
 	margin-top: 25px;
 	margin-bottom: 25px;
 }
 .underLine{
 	text-decoration: underline !important;
 }
 h6{
  	font-family: 'Source Code Pro';
 	font-size: 14px;	
 }
 .DARES{
 	width: 930px;
 	margin: auto;
 }
 .DARES h6{
 	font-size: 22px;
 }
 .DARES h1{
 	font-family: 'Source Code Pro';
 }
 .individual-dare{
 	border-style: solid;
 	border-width: 1px;
 	padding: 80px 80px;
 }
 .individual-dare{
 	margin-bottom: 25px;
 }
 .sub{
 	padding-left: 25px;
 }
 /* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.side-bar{
		margin-left: 0px;
	}
	.DARES{
		margin-left: 0px;
		margin-top: 25px;
	}
}
.angular-google-map-container { 
	height: 400px; 
}
.customFooter{
	height: 100px;
	background-color: gray;
	color: white;
	font-family: 'Source Code Pro';
}
.customFooter p{
	padding-top: 25px;
	margin-left: 100px;
}
.challenges{
	padding-top: 100px;
}
.navCustom{
	position: fixed;
}
.challenges h1{
	margin-bottom: 15px;
	text-align: center;
	font-size: 38px;
	color: black;
}
.DARES h1{
	margin-top: 19px;
	font-size: 50px;
	font-weight: 100;
	font-family: 'Abel';
}
.navCustom{
	border-top: solid;
	border-bottom: solid; 
	border-bottom-width: 1px;
	border-bottom-color: gray;  
	width: 100%;
	background-color: white;
	z-index: 1000; 
}
.arrow-container{
	width: 15px;
	display: block;
	float: right;
	margin-left: 8px;
	margin-right: 8px;
}
.arrow-container img{
	margin: auto;

}
#pointsRemaining{
	background-color: #ffff80;
}
.lightning-container{
	width: 20px;
}
.navCustom h6{
	font-size: 16px;
	font-family: 'Abel';
   -webkit-text-stroke-width: 1.25px;
   -webkit-text-stroke-color: black;	
}
.right-stuff h6{
	font-family: 'Source Code Pro';
	-webkit-text-stroke-width: 0px;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
	top: 5px;
}
.hide{
	display: none;
}
.strike{
	text-decoration: line-through;
}
.menu-item:hover .non-strike{
	text-decoration: line-through;
}
.red{
	color: red;
}
.mapPopUp{
	padding-top: 15px;
	padding-bottom: 15px;
    background-color: gray;
    color: white;
    font-family: 'Source Code Pro';
    text-align: center;
}
.mapPopUp h6{
	font-size: 30px;
}
.popup{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: white;
	z-index: 100;
	width: 50%;
	margin: auto;
	position: fixed;
	top: 200px;
	text-align: center;
	left: 50%;
    /*margin-right: -50%;*/
    transform: translate(-50%, 0);
    border-style: dashed;
    font-family: 'Source Code Pro';
	box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.8);    	
}
.popup h5{
	padding-top: 25px;
	background-color: white;
	width: 85%;
	margin: auto;
	font-size: 14px;
}
.loginpopup{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: white;
	z-index: 100;
	width: 50%;
	margin: auto;
	position: fixed;
	top: 200px;
	text-align: center;
	left: 50%;
    /*margin-right: -50%;*/
    transform: translate(-50%, 0);
    border-style: dashed;
    font-family: 'Source Code Pro';
	box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.8);    	
}
.loginpopup h5{
	padding-top: 25px;
	background-color: white;
	width: 85%;
	margin: auto;
	font-size: 14px;
}
.logoutpopup{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: white;
	z-index: 100;
	width: 25%;
	margin: auto;
	position: fixed;
	top: 200px;
	text-align: center;
	left: 50%;
    /*margin-right: -50%;*/
    transform: translate(-50%, 0);
    border-style: dashed;
    font-family: 'Source Code Pro';
	box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.8);    	
}
.logoutpopup h5{
	padding-top: 25px;
	background-color: white;
	width: 85%;
	margin: auto;
	font-size: 14px;
}
.hover{
	display: none;
}

.mobile{
	display: none;
}
.exit-container{
	position: absolute;
	top: 7px;
	right: 16px;
}
#signupbutton{
	border-style: solid;
	border-width: 1px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 8px;
	padding-left: 8px;
	border-radius: 5px;
}
.logbutton{
	width: 60px;
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
}
.how-it-works-container{
	width: 60%;
	margin: auto;
	margin-bottom: 100px;
}
@media all and (min-width: 900px) {
.arrow-hover:hover .primary{
	display: none;
}
.arrow-hover:hover .hover{
	display: block;
}	
}
@media only screen and (max-width : 935px) {
	.DARES{
		width: 100%;
	}
	.purple-container{
	background:url('../assets/tumblr_o2egblCSHJ1v501yio1_1280.jpg')no-repeat center center;	
	}
	.popup{
		top: 100px;
		width: 80%;
	}
}
.desktop-nix{
	display: none;
}
.nav-mobile{
	float: right;
}
.btn-info{
	background-color: white;
	color: black;
	border-color: black;
}
@media only screen and (max-width : 510px) {
	.how-it-works-container{
		width: 100%;
	}
	.popup{
		width: 100%;
	}
	.loginpopup{
		width: 100%;
	}
	.logo-tagline-container {
		width: 100%;
	}	
	#cityMission{
		margin: auto;
		text-align: center;
	}
	.desktop-nix{
		display: inline-block;
	}
	.mobile-nix{
		display: none;
	}
	.mobile{
		display: block;
	}
	.navCustom{
		height: 68px;
	}
	.individual-dare{
		padding: 0px 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.individual-dare .row{
		margin-right: 0px;
		margin-left: 0px;
	}
	.challenges{
		margin-left: 0px;
		margin-right: 0px;
	}
	.logo-tagline-container h4{
		font-size: 30px;
	}
}
.white-box{
	height: 200px;
	background: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(250, 250, 250, 1));
	position: fixed;
	bottom: 0px;
	width: 100%;
}