a{
	text-decoration: inherit;
	color:inherit;
	cursor: pointer;
}
a:hover{
	text-decoration: inherit;
	color:inherit;
}
.logo-tagline-container{
	width: 500px;
	margin: auto;
	text-align: center;
}
.logo-tagline-container h4{
	font-size: 40px;
	color: white;
}
.gif-container{
	top: 190px;
}
.purple-container{
	padding-top: 150px;
	/*background-color: #7A7AA5;*/
	display: block;
	color: black;
	background:url('../assets/hero_image_stiched.png')no-repeat center center;
}
body {  
	font-family: 'Abel';
}
 #map { 
 	height: 700px;
 	width: 100%; 
 }
 h1{
 	margin-top: 0px;
 	margin-bottom: 0px;
 	font-weight: 900;
 	font-size: 105px;
 	color: white;
 }
 h5{
 	font-weight: 900;
 	background-color: #ffff80;
 	width: 202px;
 	padding-top: 4px;
 	padding-bottom: 4px;
 	padding-left: 4px;
 	font-size: 18px;
 	margin: auto;
 }
 h4{
 	font-size: 30px;
 }
 .side-bar{
 	margin-left: 30px;
 }
 #cityName{
 	font-size: 24px;
 	font-family: 'Source Code Pro';
 	margin-top: 30px;
 	margin-bottom: 30px;
 }
 #cityMission{
 	font-family: 'Source Code Pro';
 	color: white;
 	font-size: 20px;
 	line-height: 24px;
 	margin-bottom: 25px;
 	margin-left: -30px;
 	margin-right: -30px;
 	text-align: left;
 }
 .logo-container{
 	margin-top: 25px;
 	margin-bottom: 25px;
 }
 .underLine{
 	text-decoration: underline !important;
 }
 h6{
  	font-family: 'Source Code Pro';
 	font-size: 14px;	
 }
 .DARES{
 	width: 930px;
 	margin: auto;
 }
 .DARES h6{
 	font-size: 22px;
 }
 .DARES h1{
 	font-family: 'Source Code Pro';
 }
 .individual-dare{
 	border-style: solid;
 	border-width: 1px;
 	padding: 80px 80px;
 }
 .individual-dare{
 	margin-bottom: 25px;
 }
 .sub{
 	padding-left: 25px;
 }
 /* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.side-bar{
		margin-left: 0px;
	}
	.DARES{
		margin-left: 15px;
		margin-top: 25px;
	}
}
.angular-google-map-container { 
	height: 400px; 
}
.customFooter{
	height: 100px;
	background-color: gray;
	color: white;
	font-family: 'Source Code Pro';
}
.customFooter p{
	padding-top: 25px;
	margin-left: 100px;
}
.challenges{
	padding-top: 100px;
}
.navCustom{
	position: fixed;
}
.challenges h1{
	margin-bottom: 15px;
	text-align: center;
	font-size: 38px;
	color: black;
}
.DARES h1{
	margin-top: 19px;
	font-size: 50px;
	font-weight: 100;
	font-family: 'Abel';
}
.navCustom{
	border-top: solid;
	border-bottom: solid; 
	border-bottom-width: 1px;
	border-bottom-color: gray;  
	width: 100%;
	background-color: white;
	z-index: 1000; 
}
.arrow-container{
	width: 15px;
	display: block;
	float: right;
	margin-left: 8px;
	margin-right: 8px;
}
.arrow-container img{
	margin: auto;

}
.lightning-container{
	width: 20px;
}
.navCustom h6{
	font-size: 16px;
	font-family: 'Abel';
   -webkit-text-stroke-width: 1.25px;
   -webkit-text-stroke-color: black;	
}
.right-stuff h6{
	font-family: 'Source Code Pro';
	-webkit-text-stroke-width: 0px;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
	top: 22px;
}
.hide{
	display: none;
}
.strike{
	text-decoration: line-through;
}
.menu-item:hover .non-strike{
	text-decoration: line-through;
}
.red{
	color: red;
}
.popup{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: white;
	z-index: 100;
	width: 40%;
	margin: auto;
	position: fixed;
	top: 300px;
	text-align: center;
	left: 50%;
    /*margin-right: -50%;*/
    transform: translate(-50%, 0);
	box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.8);    	
}
.popup h5{
	background-color: white;
	width: auto;
}
.hover{
	display: none;
}
.arrow-hover:hover .primary{
	display: none;
}
.arrow-hover:hover .hover{
	display: block;
}
@media only screen and (max-width : 935px) {
	.DARES{
		width: 100%;
	}
}
@media only screen and (max-width : 510px) {
	.logo-tagline-container {
		width: 100%;
	}	
	#cityMission{
		margin: auto;
		text-align: center;
	}
	.mobile-nix{
		display: none;
	}
	.navCustom{
		height: 68px;
	}
	.individual-dare{
		padding: 0px 0px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.individual-dare .row{
		margin-right: 0px;
		margin-left: 0px;
	}
	.challenges{
		margin-left: 0px;
		margin-right: 0px;
	}
	.logo-tagline-container h4{
		font-size: 30px;
	}
}
